<!DOCTYPE html>
<html lang="ro-RO">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Bistriteanul.ro &mdash; Mentenanță</title>
	<link href="{{ asset('assets/css/maintenance.css') }}" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="site">
<div class="overlay">
	<div class="container">
		<div class="intro-message">
			<h1>Bistriteanul.ro</h1>
			<h2>Ne pare rău! Momentan, site-ul se află în mentenanță. Reveniți curând!</h2>
			<hr class="intro-divider">
			<h3>Între timp, ne puteți urmări pe una din platformele media:</h3>
			<ul class="intro-social-buttons">
				<li>
					<a href="https://www.facebook.com/bistriteanul.ro/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
				</li>
			</ul>
			<div class="intro-content">
				<a class="tel" href="tel:+40728237215">0728-237 215</a>
				<p class="address">redactia@bistriteanul.ro</p>
			</div>
		</div>

		<div class="intro-footer">
			<p class="copyright text-muted small">Copyright &copy; 2008-{{ "now"|date('Y') }}. Toate drepturile rezervate.</p>
		</div>
	</div>
</div>

<script type="text/javascript" src="{{ asset('assets/manifest.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/common.js') }}"></script>

</body>

</html>
