<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if app.environment == 'dev' %}
            [DEVELOPMENT]
        {% endif %}
        {% block title %}{% endblock %} &mdash; Bistrițeanul.RO
    </title>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('static/css/panel.css') }}" type="text/css">
	{% endblock %}
</head>

<body>
    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Activează meniul</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('panel_admin_index') }}">Panou Bistrițeanul</a>
            </div>

	        {% include '_partials/panel/navbar_top.html.twig' %}

	        <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    {% include '_partials/panel/menu_sidebar.html.twig' %}
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    {% block body_title %}{% endblock %}
                </div>
            </div>

            {% block body %}{% endblock %}
        </div>

    </div>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('static/manifest.js') }}"></script>
        <script type="text/javascript" src="{{ asset('static/js/common.js') }}"></script>
        <script type="text/javascript" src="{{ asset('static/js/panel.js') }}"></script>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

</body>

</html>
