<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <title>
        {% if app.environment == 'dev' %}
            [DEVELOPMENT]
        {% endif %}
        {% block title %}{% endblock %} Bistriteanul.ro &mdash; Află Primul
    </title>

    <meta name="keywords" content="{{ config('platform.meta_keywords') }}">
    <meta name="description" content="{{ config('platform.meta_description') }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="language" content="ro">
    <meta name="ROBOTS" content="index, follow">
    <meta name="rating" content="general">
    <meta name="distribution" content="global">
    <meta name="classification" content="Online NewsPaper, Ziar Online, News, Stiri, comentarii, informatii">
    <meta name="copyright" content="Bistriteanul.ro - Sc Agentia 215 Srl">
    <meta name="owner" content="Sc Agentia 215 Srl">
    <meta name="revisit-after" content="1 Days">

    {% set gwt_id = config('seo.gwt_id') %}
    {% set alexa_id = config('seo.alexa_id') %}
    {% set yahoo_id = config('seo.yahoo_id') %}

    {% if (gwt_id is defined) and (gwt_id is not empty) %}
        <meta name="verify-v1" content="{{ gwt_id }}">
    {% endif %}

    {% if (alexa_id is defined) and (alexa_id is not empty) %}
        <meta name="alexaVerifyID" content="{{ alexa_id }}">
    {% endif %}

    {% if (yahoo_id is defined) and (yahoo_id is not empty) %}
        <meta name="y_key" content="{{ yahoo_id }}">
    {% endif %}

    {% block article_meta %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('static/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('static/favicon.ico') }}" type="image/x-icon">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('static/css/platform.css') }}" type="text/css">
    {% endblock %}
</head>

<body class="sticky_footer" data-page="{{ app.request.get('_route') }}">
<div id="fb-root"></div>

<div class="wrapper">
    <header>
        <div id="header">
            <section class="navbar navbar-fixed-top navbar-inverse">
                <div class="container">
                    {% include '_partials/platform/toolbar_panel.html.twig' %}
                </div>
            </section>

            <section class="middle">
                <div class="container masthead">
                    <div class="announcement__header-container">
                        {% include ':_ads:header_left_1.html.twig' %}
                        {% include ':_ads:header_right_1.html.twig' %}
                    </div>
                    <div id="logo" class="masthead__logo">
                        <a href="{{ path('main_index') }}" id="bistr-logo" title="Prima pagină"></a>
                    </div>
                    <div class="masthead__widget">
                        <ul>
                            <li id="datetime"></li>
                            <li id="weather"></li>
                            <li id="currency"></li>
                            <li id="visitors"></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="bottom">
                <div class="container">
                    {% include '_partials/platform/toolbar_menu.html.twig' %}
                </div>
            </section>
        </div>
    </header>

    <div class="container container--with-padding">
        {% block body %}{% endblock %}
    </div>

    <footer>
        <div id="footer">
            <section class="top">
                <div class="block_footer_widgets">
                    <div class="container">
                        {{ platform_footer_categories()|raw }}
                    </div>
                </div>
            </section>

            <section class="middle">
                <div class="container">
                    <div class="block_bottom_menu">
                        <nav>
                            <ul>
                                <!-- START(trafic.ro) -->
                                <li>
                                    <script type="text/javascript">t_rid="bistriteanul";</script>
                                    <script type="text/javascript" src="http://storage.trafic.ro/js/trafic.js"></script>
                                    <noscript>
                                        <a href="http://www.trafic.ro/top/?rid=bistriteanul" target="_blank">
                                            <img alt="trafic ranking" src="http://log.trafic.ro/cgi-bin/pl.dll?rid=bistriteanul">
                                        </a>
                                    </noscript>
                                </li>
                                <!-- END(trafic.ro) -->
                                <!-- START(mxhost.ro) -->
                                <li>
                                    <a id="generate-logo-mxhost" href="http://www.mxhost.ro" title="MxHost.ro" target="_blank"></a>
                                </li>
                                <!-- END(mxhost.ro) -->
                                <!-- START(certificat-web.ro) -->
                                <li>
					                <a href="http://www.certificat-web.ro/certificat-www.bistriteanul.ro.html" target="_blank">
                                        <img src="http://www.certificat-web.ro/certificat/logo.png" alt="Certificat Web">
                                    </a>
                                </li>
                                <li>
					                <a id="generate-logo-certificatweb" href="http://www.certificatweb.ro" target="_blank"></a>
                                </li>
                                <!-- END(certificat-web.ro) -->
                                <!-- START(directorulweb.ro) -->
                                <li>
					                <a title="Director web" href="http://www.directorulweb.ro/">
                                        <img alt="Director web" border="0" src="http://www.directorulweb.ro/director.jpg">
                                    </a>
                                </li>
                                <!-- END(directorulweb.ro) -->
                                <!-- START(bistriteanul.ro/rss) -->
                                <li>
                                    <a id="generate-logo-rss" title="Bistriteanul.ro RSS" href="{{ path('main_index_rss') }}"></a>
                                </li>
                                <!-- END(bistriteanul.ro/rss) -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>

            <section class="bottom">
                <div class="container">
                    <div class="block_copyrights">
                        <p>
                            Reproducerea totală sau parțială a materialelor este permisă numai cu acordul expres al Bistriteanul.Ro.<br>
                            &copy; Copyright 2008 - {{ 'now'|date('Y') }} Bistrițeanul.ro
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </footer>
</div>

{% block javascripts %}
    <script type="text/javascript">
        var FacebookSDK = {
            __load__: function() {
                return (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {
                        return;
                    }

                    js = d.createElement(s);
                    js.id = id;
                    js.src = '//connect.facebook.net/ro_RO/sdk.js';
                    fjs.parentNode.insertBefore(js, fjs);
                })(document, 'script', 'facebook-jssdk');
            },
            __init__: function(SDKSettings) {
                this.__load__();

                window.fbAsyncInit = function () {
                    FB.init(SDKSettings);
                };
            }
        };

        var GoogleAnalytics = {
            __load__: function() {
                return (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments);
                        };

                    i[r].l = 1 * new Date();
                    a = s.createElement(o);
                    m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m);
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            },
            __init__: function(UA) {
                this.__load__();

                ga('create', UA, 'auto');
                ga('send', 'pageview');
            }
        };

        GoogleAnalytics.__init__({{ config('google_analytics.ua')|raw }});
        FacebookSDK.__init__({
            appId            : {{ config('facebook_sdk.app_id')|raw }},
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.10'
        });
    </script>

    <script type="text/javascript" src="{{ asset('static/manifest.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/js/common.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/js/platform.js') }}"></script>

	{# html5shiv && respond.js #}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}


</body>

</html>
