<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

	<channel>
		<title>Bistriteanul.ro </title>
		<link>{{ url('main_index') }}</link>
		<language>ro-RO</language>
		<description>Află primul - știri, evenimente, actualitate, monden, noutati</description>
		<copyright>Copyright © bistriteanul.ro 2008 - {{ 'now'|date('Y') }}</copyright>

		{% block feed %}{% endblock %}
	</channel>
</rss>